
.development {
    padding-top: 0px;
    display: none;
    @include mq(desktop) {
    display: block;
}
}
.development__list{
    display: flex;
}

.development__item{
    margin-right: 30px;
    position: relative;
    &:nth-child(3n) {
        margin-right: 0;
    }
}
.development__text-thumb {
    color: var(--primary-background-color);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.14;
}

.development__over-thumb{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 70px;
    left: 0;
    bottom: 0;
    background-color: rgba(47, 48, 58, 0.8);
}