.feature__list {
    
    @include mq(tablet) {
    display: flex;
    flex-wrap: wrap;
    }

    @include mq(desktop) {
        display: flex;
    }
}

.feature__item {
    @include mq(mobile) {
        flex-basis: 100%;
    }
    

    @include mq(tablet) {
        flex-basis: calc((100% - 30px) / 2);
    
}
    
    @include mq(desktop) {
        flex-basis: calc((100% - 90px) / 4);
    }
    
}


.feature__item:not(:last-child){

    @media screen and (max-width: 767.98px) {
        margin-bottom: 30px;
    }

    @include mq(desktop) {
        margin-right: 30px;
    }
    
}
@include mq(tablet-only){
    
    .feature__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
    }

    .feature__item:nth-child(odd) {
            margin-right: 30px;
        }
}



.feature__background {
    
display: flex;

height: 120px;
background-color: var(--secondary-light-bg); 
margin-bottom: 30px;

align-items: center;
justify-content: center;
border-radius: 4px;
}
.feature__name{
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--title-text-color);
margin-bottom: 10px;

@include mq(mobile-only){
text-align: center;
}

}

.feature__description{
font-weight: 400;
font-size: 14px;
line-height: 1.8;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}
