.hero {
    background-color: #2F303A;

    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;

   
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto; 
    @include mq(mobile){
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/hero/Header-img.jpg);
    }
    @include mq(tablet-only){
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/hero/Header.jpg);
    }
    @include mq(desktop) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(..//images/hero/Img.jpg);
    }

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
}



.hero__header{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    /* background-color: #2F303A; */
    margin-bottom: 30px;
}

.button {
    background: #2196F3;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    color: #FFFFFF;

    align-items: center;
    text-align: center;
    border: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 33px;
    cursor: pointer;
}

