
.portfolio__button-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;

    @include mq (tablet) {
    justify-content: center;
    }

}
.portfolio__info {
    flex-grow: 1;
    padding: 20px 24px;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;

}
.btn {
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    background-color: #F5F4FA;
    border: 0;
    border-radius: 4px;
    padding: 6px 22px;

    transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus{
    background: var(--accent-color);
    color: var(--primary-background-color);
    border-radius: 4px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
&:active {
    color: var(--title-text-color);
}
}
.portfolio__filter-button {
    margin-right: 8px;

}
.portfolio__filter-button:not(:nth-last-child(-n+2)) {
@include mq(mobile-only){
    margin-bottom: 15px;
}
}
// card-list
.portfolio__card-list {
    display: flex;
    flex-wrap: wrap;
    
}

.portfolio__card-example {
    @include mq(not-desktop){
    display: block;
    width: 100%;
    
    }
    @include mq(tablet-only){
    flex-basis: calc((100% - 30px) / 2);

    }
@include mq(desktop) {
    margin-right: 30px;
    margin-bottom: 30px;
&:nth-child(3n) {
        margin-right: 0;
    }
&:nth-last-child(-n + 3) {
        margin-bottom: 0;
    }
}
}
    .portfolio__card-example:not(:last-child){
        @include mq(not-desktop) {
            margin-bottom: 30px;
        }
    }

    @media screen and (max-width: 767.98px) {
        margin-bottom: 30px;
    }
.portfolio__card-example:nth-child(odd) {
    @include mq(tablet-only) {
    margin-right: 30px;
    }
}
.portfolio__card-example:nth-child(odd) {
    @include mq(tablet-only) {
    margin-right: 30px;
    }
}


.portfolio__name-works{
font-weight: 700; 
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color:var(--title-text-color);
margin-bottom: 4px;
}
.portfolio__type{
font-weight: 400;
font-size: 16px;
line-height: 1.8;
letter-spacing: 0.03em;
color:var(--primary-text-color);
}
.portfolio__link {
    display: block;
    transition:  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
&:focus{
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
}
}
.portfolio__thumb-card{
    position: relative;
    overflow: hidden; 
}
.portfolio__text-card{
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

        padding: 63px 24px;
        font-size: 18px;
        line-height: 1.56;
        letter-spacing: 0.03em;
        color: var(--primary-background-color);
        background-color: rgba(33, 150, 243, 0.9);
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .portfolio__link:hover &,
    .portfolio__link:focus &{
    transform: translateY(0);
    }
}

