// .footer-form-container {
//     margin-left: auto;
// }
.footer-text-subscribe {
    display: inline-block;
    margin-bottom: 20px;
    color: #fff;
    line-height: 1.14;
    text-transform: uppercase;
}
.form-subscribe{
    @media screen and (min-width:768px) and (max-width:1198){
    display: flex;
    flex-direction: column;
    align-items: center;
}
}
.form-subscribe {
    @include mq(not-desktop) {
        display: flex;
        flex-direction: column;
        align-items: center;
        }

    @include mq(desktop) {
        display: flex;
        align-items: baseline;
        }

}
.input-email {
    width: 358px;
    height: 50px;
    margin-right: 10px;
    border-radius: 4px;
    padding: 15px;
    font-size: 16px;
    line-height: 1.25;
    color: #fff;
    background-color: var(--second-background-color);
    border: 1px solid rgba(255,255,255,0.3);
    outline: 1;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
    outline: 0;
    border: 1px solid rgba(255,255,255,0.6);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.171);
    }
    @include mq(not-desktop) {
    margin-bottom: 20px;
    }
}

.button-subscribe{
    padding: 10px 16px;
    width: 200px;
    height: 50px;
    background-color: var(--button-bg);
    color: var(--primary-background-color);

font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;
cursor: pointer;
border-radius: 4px;
border: 0;
box-shadow: 250 ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus{
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.153);
}
}

.footer-button-content {
    @include mq(desktop) {
        display: flex;
    justify-content: center;
    align-items: center;
        }
        justify-content: center;
        align-items: center;
  
}
.footer-button-icon{
    margin-left: 10px;
}




