.footer{
    background-color: var(--second-background-color);
    padding-top: 60px;
        padding-bottom: 60px;
    }

.footer{
    @media screen and (max-width:1198px){
    text-align: center;
    }
  
}
.footer-flex{
    @media screen and (min-width:768px){
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
}
}
.footer-form-container{
    @media screen and (max-width:768px){
    display: flex;
    flex-direction: column;
    align-items: center;
}
}



    .address-item{
    list-style-type: none;
    }
    
    .link-map{
        font-family: 'Roboto';
        font-style: normal;
    font-weight: 400;
     font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--primary-background-color);
    text-decoration: none;
    }
    
    .link-address{
        font-family: 'Roboto';
        font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    }
    
    .footer-flex {
        @include mq(desktop) {
            display: flex;
            align-items: baseline;
        }
    }

    .footer .logo-position {
        display: block;
    margin-bottom: 20px;
    }
    
    .logotype {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        text-decoration: none;
        
        margin-bottom: 20px; 
    }
    
    .logotype .start {
        color: var(--accent-color);
    }
    
    .logotype .end {
        color: var(--primary-background-color);
    }
    
    .address-item.map{
    margin-bottom: 9px;
    }
    .address-item.address{
    margin-bottom: 9px;
    }
    