.footer-social-list {
  
    @include mq(desktop){
    display: flex;
    justify-content: center;
}
justify-content: center;
display: flex;
}

.footer-social {
    @include mq(mobile-only) {
        margin-bottom: 60px;
        margin-top: 60px;
        }
        @include mq(tablet-only) {
            margin-bottom: 0;
            margin-top: 0;
        }
        @include mq(desktop){
            margin-left: 70px;
            }
}
.footer-so-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
}
.footer-socials-icon {
    width: 20px;
    height: 20px;
    fill: #ffffff; 
}  
.footer-socials-item:not(:last-child) {
    margin-right: 10px;
}