.menu-button{
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    position: fixed;
  top: 6px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: #fff;
  cursor: pointer;
  border: none;
  background-color: transparent;
  z-index: 10;

}
.menu-button.is-open .icon-menu,
.menu-button .icon-cross{
    @media screen and (max-width:767px){
        display: none;
    }
}
.menu-button.is-open .icon-cross{
    @media screen and (max-width:767px){
            display: block;
    }
}


.menu-button {
    @media screen and (min-width:767px){
        display: none;
    }
}

.menu-container{
    @media screen and (max-width:767px){
// position: absolute;
// padding: 40px 48px;
    }

}
// .menu-container.is-open{
//     display: block;
//     top: 0;
//     z-index: 2;
//     background-color: #fff;
// }

.menu-container{
    display: none;
    
    &.is-open{
        // position: fixed;
        // top: 0;
        // left: 0;
        // width: 100vw;
        // height: 100vh;
        // padding: 40px;
        // z-index: 99;
        // background-color: #fff;
        // transform: translateX(100%);
        


      
        position: fixed;
        top: 0;
        left: 0;
        display:flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        background-color: #fff;
        z-index: 9;
        padding: 48px 40px;
    }

    @media screen and (min-width:768px){
    display: flex;
    align-items: center;
    width: 100%;
    // flex-direction: column;
    }
}

.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;

    &.accent {
    color: var(--accent-color)
}

    &.basic {
    color: var(--logo-text-color)
}
}
.navigation__logo{
    margin-right: 93px;
    @include mq(tablet-only) {
        margin-right: 83px;
    }
   
}

.navigation-list {
    @media screen and (min-width:768px){
        display: flex;
    
    & .link-navigation {
   display: block;
padding-top: 32px;
padding-bottom: 32px;
} 
}
}
.navigation-list {

&.item:not(:last-child) {
    margin-right: 50px;
} 
}


    .navigation {
        @include mq(mobile-only){
            margin-bottom: 50px;
    }
        @media screen and (min-width:768px){
        display: flex;
        align-items: center;
    }
    }    
    .header-group {
        @media screen and (min-width:768px){
        display: flex;
        margin-left: auto;
    }
}


.item-navigation{
    list-style-type: none;
    &:not(:last-child) {
    margin-bottom: 34px;
    }
@include mq(tablet) {
    &:not(:last-child) {
        margin-right: 50px;
        margin-bottom: 0;
    }  
}
@include mq(tablet-only) {
    &:not(:last-child) {
        margin-right: 30px;
        margin-bottom: 0;
    }  
}
}


.link-navigation{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    @include mq(tablet) {
    font-size: 14px;
    
}
    line-height: 1.4;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-after{
position: relative;
color: var(--accent-color);
// padding-top: 32px;
// padding-bottom: 32px;
@media screen and (min-width: 768px){
&::after{
position: absolute;
content:"" ;
display: block;
width: 100%;
height: 5px;
border-radius: 2px;
background-color: var(--button-bg);
left: 0;
bottom: 0;
bottom: -1px;
}
}
}