:root {
    --title-text-color: #212121;
    --primary-text-color: #757575;
    --accent-color: #2196F3;
    --primary-background-color: #FFFFFF;
    --second-background-color: #2F303A;
    --third-background-color:#F5F4FA;
    --logo-text-color: #000000;
    --icon-color: #AFB1B8;
    --button-bg: #2196f3;
    --secondary-light-bg: #f5f4fa;
}
